# https://docs.bazel.build/versions/master/best-practices.html#bazelrc
# https://docs.bazel.build/versions/master/guide.html#bazelrc

common --google_default_credentials
common --remote_cache=https://storage.googleapis.com/negainoido-icfpc2019-bazel-cache
